# Directiories #
build/
bin/
target/
libs/
tmp/

# OSX
.DS_Store
.svn
._*
.Trashes

# Windows
Thumbs.db
Desktop.ini

# Eclipse
*.pydevproject
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
*.class

.externalToolBuilders/
*.launch

/.apt_generated/
